.box-setting {
	border: 1px solid rgba(var(--color-black), 1);
	border-radius: 9px;
	height: 4.5rem;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	transition: filter 150ms ease-in-out;
}

.bttn {
	cursor: pointer;
}

.bttn:hover {
	filter: opacity(0.8);
}

.bttn.unavaliable:hover,
.unavaliable {
	cursor: not-allowed;
	filter: invert(0.5);
}