.page-wrapper {
    border: 1px solid yellow;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 16px 0px;
}

.bttn {
    height: 56px;
    width: 84px;
    padding: 3px;
    margin: 0;
    background-color: rgba(var(--color-purple), 1);
    cursor: pointer;
    color: rgba(var(--color-white), 1);
    font-size: 1.5rem;
    font-weight: 700;
}

.bttn:hover {
    filter: brightness(0.8);
}